@model IEnumerable<GradApp.Models.Project>

@{
    ViewBag.Title = "Graduate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <br/>

    <div class="row">
        <div class="col-sm-8">
            <h3>Current Rotation</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">   
            @{bool empty = true;}
                     
            @foreach (var item in Model)
            {
                if (item.EndDate > DateTime.Now)
                {
                    empty = false;

                    <div class="row">
                        <div class="col-xs-8 col-sm-8">                            
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Project
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                    @Html.DisplayFor(modelItem => item.ProjectName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Area
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                    @Html.DisplayFor(modelItem => item.Area.AreaName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Manager
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                    @Html.DisplayFor(modelItem => item.Manager.Name)<text>&nbsp;</text>@Html.DisplayFor(modelItem => item.Manager.Surname)
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 align-items-center text-left">
                            <a class="fa fa-2x fa-chevron-circle-right" href="@Url.Action("ProjectDetails", "Graduates", new { id = item.ProjectID })"></a>
                        </div>
                    </div>
                    <br/>
                }

                if (empty)
                {
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right">
                            No current rotations to display
                        </div>
                    </div>
                }
            }                        
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h3>Previous Rotation</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            @{empty = true;}

            @foreach (var item in Model)
            {
                if (item.EndDate < DateTime.Now)
                {
                    empty = false;

                    <div class="row">
                        <div class="col-xs-8 col-sm-8">
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Project
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                    @Html.DisplayFor(modelItem => item.ProjectName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Area
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                    @Html.DisplayFor(modelItem => item.Area.AreaName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Manager
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                    @Html.DisplayFor(modelItem => item.Manager.Name)<text>&nbsp;</text>@Html.DisplayFor(modelItem => item.Manager.Surname)
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 align-items-center text-left">
                            <a class="fa fa-2x fa-chevron-circle-right" href="@Url.Action("ProjectDetails", "Graduates", new { id = item.ProjectID })"></a>
                        </div>
                    </div>
                    <br />
                }

                if (empty)
                {
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right">
                            No previous rotations to display
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
