@model IEnumerable<GradApp.Models.Project>

@{
    ViewBag.Title = "Graduate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{bool empty = true;}
<div class="container-fluid">
    <div class="row ">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-4 mx-auto">
            <h2>Current Rotation</h2>
            @foreach (var item in Model)
            {
                if (item.EndDate > DateTime.Now)
                {
                    empty = false;
                    <div class="row card link" onclick="location.href='@Url.Action("Graduate", "Projects", new { id = item.ProjectID })'">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 card_header">
                                    <h4><strong>@Html.DisplayFor(modelItem => item.ProjectName)</strong></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-4">
                                    <strong>
                                        Area
                                    </strong>
                                </div>
                                <div class="col-xs-8 col-sm-8">
                                    @Html.DisplayFor(modelItem => item.Area.AreaName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-4">
                                    <strong>
                                        Manager
                                    </strong>
                                </div>
                                <div class="col-xs-8 col-sm-8">
                                    @Html.DisplayFor(modelItem => item.Manager.Name)<text>&nbsp;</text>@Html.DisplayFor(modelItem => item.Manager.Surname)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            @if (empty)
            {
                <h3>No current rotations to display</h3>
            }
        </div>
    </div>
    <br />

    @{empty = true;}
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-4 mx-auto">
            <h2>Previous Rotation</h2>
            @foreach (var item in Model)
            {
                if (item.EndDate < DateTime.Now)
                {
                    empty = false;
                    <div class="row card link" onclick="location.href='@Url.Action("Graduate", "Projects", new { id = item.ProjectID })'">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 card_header">                                    
                                    <h4><strong>@Html.DisplayFor(modelItem => item.ProjectName)</strong></h4>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-4">
                                    <strong>
                                        Area
                                    </strong>
                                </div>
                                <div class="col-xs-8 col-sm-8">
                                    @Html.DisplayFor(modelItem => item.Area.AreaName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-4">
                                    <strong>
                                        Manager
                                    </strong>
                                </div>
                                <div class="col-xs-8 col-sm-8">
                                    @Html.DisplayFor(modelItem => item.Manager.Name)<text>&nbsp;</text>@Html.DisplayFor(modelItem => item.Manager.Surname)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            @if (empty)
            {
                <h3>No previous rotations to display</h3>
            }
        </div>
    </div>
</div>

            