@model IEnumerable<GradApp.ViewModels.ManagerProjectViewModel>

@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <div class="row">
        <div class="col-sm-8">
            <h3>Current Project</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">

            @{bool empty = true;}

            @foreach (var item in Model)
            {
                if (@item.project.EndDate > DateTime.Now)
                {
                    empty = false;

                    <div class="row">
                        <div class="col-xs-8 col-sm-8">
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Project
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                    @Html.DisplayFor(modelItem => @item.project.ProjectName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Area
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                    @Html.DisplayFor(modelItem => @item.project.Area.AreaName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Graduate
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                    @foreach (var grad in @item.graduates)
                                    {
                                        @Html.DisplayFor(modelItem => @grad.Name)<text>&nbsp;</text>@Html.DisplayFor(modelItem => @grad.Surname)<br/>
                                    }
                                </div>
                            </div> 
                        </div>
                        <div class="col-xs-4 col-sm-4 align-items-center text-left">
                            <a class="fa fa-2x fa-chevron-circle-right" href="@Url.Action("Manager", "Projects", new { id = @item.project.ProjectID })"></a>
                        </div>
                    </div>
                    <br />
                }
            }
            @if (empty)
            {
            <div class="row">
                <div class="col-xs-6 col-sm-5 align-items-center text-right">
                    No current projects to display
                </div>
            </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h3>Previous Project</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            @{empty = true;}

            @foreach (var item in Model)
            {
                if (@item.project.EndDate < DateTime.Now)
                {   
                    empty = false;

                    <div class="row">
                        <div class="col-xs-8 col-sm-8">
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Project
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                    @Html.DisplayFor(modelItem => @item.project.ProjectName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Area
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                    @Html.DisplayFor(modelItem => @item.project.Area.AreaName)
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Graduate
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                    @foreach (var grad in @item.graduates)
                                    {
                                       @Html.DisplayFor(modelItem => @grad.Name)<text>&nbsp;</text>@Html.DisplayFor(modelItem => @grad.Surname)<br/>
                                    }
                                </div>
                            </div>                           
                        </div>
                        <div class="col-xs-4 col-sm-4 align-items-center text-left">
                            <a class="fa fa-2x fa-chevron-circle-right" href="@Url.Action("Manager", "Projects", new { id = @item.project.ProjectID })"></a>
                        </div>
                    </div>
                    <br />
                }
            }

            @if (empty)
            {
                <div class="row">
                    <div class="col-xs-6 col-sm-5 align-items-center text-right">
                        No previous projects to display
                    </div>
                </div>
            }
        </div>
    </div>
</div>