@model IEnumerable<GradApp.Models.Project>

@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manager Home</h2>

<h3>Your Areas</h3>

@try
{
    foreach (var item in Model)
    {
    <dl class="dl-horizontal">
        <dt>
            Area
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.Area.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => modelItem.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </dd>

    </dl><br />
    }
}
catch(Exception)
{

}

<h1>Previous Projects</h1>

@try
{
    foreach (var item in Model)
    {
        if (item.EndDate < DateTime.Now)
        {
        <dl class="dl-horizontal">
            @*<dt>
                @Html.DisplayNameFor(modelItem => modelItem.Area.AreaName).
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Area.AreaName)
            </dd>*@

            <dt>
                @Html.DisplayNameFor(modelItem => modelItem.ProjectName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </dd>

        </dl><br />
        }
    }
}
catch(Exception)
{

}

