@model GradApp.Models.Goal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Details</h3>

<div>
    <h4>Goal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GoalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoalComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoalComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoalFeedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoalFeedback)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rotation.RotationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rotation.RotationID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GoalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
