@model IEnumerable<GradApp.Models.Goal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Index</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GoalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalFeedback)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rotation.Project.ProjectName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GoalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoalComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoalFeedback)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rotation.Project.ProjectName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GoalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GoalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GoalID })
        </td>
    </tr>
}

</table>
