@model GradApp.Models.ProjectWishList

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-4 mx-auto">
                <h2>Project Request</h2>
                <div class="row card">
                    <div class="container form-horizontal">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 card_header">
                                <h4><strong>@Html.DisplayFor(modelItem => modelItem.Project.ProjectName)</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4">
                                <strong>
                                    Area
                                </strong>
                            </div>
                            <div class="col-xs-8 col-sm-8">
                                @Html.DisplayFor(modelItem => modelItem.Project.Area.AreaName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4">
                                <strong>
                                    Manager
                                </strong>
                            </div>
                            <div class="col-xs-8 col-sm-8">
                                @Html.DisplayFor(modelItem => modelItem.Project.Manager.Name)<text>&nbsp;</text>@Html.DisplayFor(modelItem => modelItem.Project.Manager.Surname)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4">
                                <strong>
                                    Brief
                                </strong>
                            </div>
                            <div class="col-xs-8 col-sm-8">
                                @Html.DisplayFor(modelItem => modelItem.Project.Brief)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4">
                                <strong>
                                    Motivation
                                </strong>
                            </div>
                            <div class="col-xs-8 col-sm-8">
                                @Html.DisplayFor(modelItem => modelItem.Moivation)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-4 mx-auto">
                <a href="javascript:history.back()" class="btn btn-info">Back to Projects</a>
            </div>
        </div>
    </div>
}




