@model GradApp.Models.Rotation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
     

    <div class="row">
        <div class="col-sm-8">
            @if (Model.Project.EndDate > DateTime.Now)
            {
                <h3>Current Rotation Information</h3>
            }
            else
            {
                <h3>Previous Rotation Information</h3>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h5>Rotation Info for @Html.DisplayFor(model => model.Project.ProjectName)</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-8 col-sm-8">
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <strong>
                                Area
                            </strong>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                            @Html.DisplayFor(model => model.Project.Area.AreaName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <strong>
                                Manager
                            </strong>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                            @Html.DisplayFor(model => model.Project.Manager.Name)<text>&nbsp;</text>@Html.DisplayFor(model => model.Project.Manager.Surname)

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <strong>
                                @Html.DisplayNameFor(model => model.Project.Brief)
                            </strong>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                            @Html.DisplayFor(model => model.Project.Brief)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <strong>
                                @Html.DisplayNameFor(model => model.Project.Skills)
                            </strong>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                            @Html.DisplayFor(model => model.Project.Skills)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <strong>
                                Begin
                            </strong>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                            @Html.DisplayFor(model => model.Project.ReturnBeginDate)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <strong>
                                End
                            </strong>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                            @Html.DisplayFor(model => model.Project.ReturnEndDate)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-8 col-sm-8">
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <h3>Goals</h3>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                        </div>
                    </div>
                </div>
            </div>

            @foreach (var item in Model.Goals.ToList())
            {
                <div class="row">
                    <div class="col-xs-8 col-sm-8">
                        <div class="row">
                            <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                <strong>
                                    Goal
                                </strong>
                            </div>
                            <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                @Html.DisplayFor(modelItem => item.GoalName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                <strong>
                                    Comment
                                </strong>
                            </div>
                            <div class="col-xs-6 col-sm-7 align-items-center text-left">
                                @Html.DisplayFor(modelItem => item.GoalComment)
                            </div>
                        </div>
                    </div>
                </div>

                 
            }
        </div>
    </div>
</div>
        
<p>
    <a href="@Url.Action("Graduate","Home",null,null)" class="btn btn-info" role="button">Back to List</a>
</p>
