@model IEnumerable<GradApp.Models.Rotation>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <br />

    <div class="row">
        <div class="col-sm-8">
            @if (Model.First().Project.EndDate > DateTime.Now)
            {
                <h3>Current</h3>
            }
            else
            {
                <h3>Previous</h3>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h3>Project - @Html.DisplayFor(model => model.First().Project.ProjectName)</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-8 col-sm-8">
                    
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <strong>
                                Graduate
                            </strong>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                            @foreach (var item in Model)
                            {
                                @Html.DisplayFor(modelItem => @item.Graduate.Name)<text>&nbsp;</text>@Html.DisplayFor(modelItem => @item.Graduate.Surname)<br/>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <strong>
                                @Html.DisplayNameFor(model => model.First().Project.Brief)
                            </strong>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                            @Html.DisplayFor(model => model.First().Project.Brief)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <strong>
                                @Html.DisplayNameFor(model => model.First().Project.Skills)
                            </strong>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                            @Html.DisplayFor(model => model.First().Project.Skills)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <strong>
                                Area
                            </strong>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                            @Html.DisplayFor(model => model.First().Project.Area.AreaName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <strong>
                                Begin
                            </strong>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                            @Html.DisplayFor(model => model.First().Project.StartDate)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <strong>
                                End
                            </strong>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                            @Html.DisplayFor(model => model.First().Project.EndDate)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-8 col-sm-8">
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                            <h3>Goals</h3>
                        </div>
                        <div class="col-xs-6 col-sm-7 align-items-center text-left">
                        </div>
                    </div>
                </div>
            </div>

            @foreach (var item in Model)
            {
                if (Model.Count() > 1)
                {
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 align-items-center text-left">
                        </div>
                        <div class="col-xs-5 col-sm-5 align-items-center text-left ">
                            @Html.DisplayFor(modelItem => @item.Graduate.Name)<text>&nbsp;</text>@Html.DisplayFor(modelItem => @item.Graduate.Surname)
                        </div>                        
                    </div>
                }
                foreach (var goal in @item.Goals)
                {
                    <div class="row">
                        <div class="col-xs-8 col-sm-8"> 
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Goal
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-5 align-items-center text-left">
                                    @Html.DisplayFor(modelItem => goal.GoalName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-5 align-items-center text-right ">
                                    <strong>
                                        Comment
                                    </strong>
                                </div>
                                <div class="col-xs-6 col-sm-5 align-items-center text-left">
                                    @Html.DisplayFor(modelItem => goal.GoalComment)
                                </div>
                            </div>                 
                        </div>
                        <div class="col-xs-1 col-sm-2 align-items-center text-left">
                            <a class="fa fa-2x fa-chevron-circle-right" href="@Url.Action("Manager", "Goals", new { id = goal.GoalID })"></a>
                        </div> 
                    </div>
                    <br />
                }
            }
        </div>
    </div>
</div>
        
<p>
    <a href="@Url.Action("Manager","Home",null,null)" class="btn btn-info" role="button">Back to List</a>
</p>
